{% extends 'base.html' %}

{% block title %}What the Pic is?{% endblock %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<div class="container">
			<h1>Recognize <br> what in your picture</h1>
			<h3>HOW-TO:</h3>
			<ul>
				<li>upload your own picture in your own file</li>
				OR
				<li>submit the <em>url</em> of the picture which on the Internet</li>
			</ul>
			※ <strong>PS</strong>: we will <strong>NOT </strong>keep your photo.
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<!-- Upload form -->
			<div class="panel panel-default">
				<div class="panel-body" style="height:300px; cursor:pointer;" id="upload" onclick="image.click()">
					<p id="panel-text">
						<strong>Click here to upload image</strong>
						<br>
						or enter a URL below and click submit
					</p>
				</div>
			</div>
			<form id=uploadform method="post" enctype="multipart/form-data" style="display:none;">
				<input type="file" id="image" onchange=" handle_files(this.files); " name="file" style="filter:alpha(opacity=0); opacity:0; width:30px; display:none;" />
				<button id="upload_btn" type="button" style='display:none;'>Upload</button>
			</form>
			<!-- URL form -->
			<form action="" method="POST" role="form" class="form-horizontal">
				<div class="col-md-9">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-link"></span>
							</div>
							<input id="the_url" type="text" class="form-control" id="url" placeholder="Input image URL here">
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group">
						<button id="submit_url" type="submit" class="btn btn-success col-xs-12 col-md-10 col-md-offset-1">Submit</button>
					</div>
				</div>
			</form>
		</div>

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Result</h3>
				</div>
				<div class="panel-body" id="show_result">

				</div>
			</div>
		</div>
	</div>
	<div class="row">
	</div>
</div>
<footer class="footer">
	<div class="container">
		<a class="navbar-brand visible-xs" href="#">
			<img alt="Brand" class="" src="{{ url_for('static', filename='images/brand_sicun_chinese.png') }}">
		</a>
		<p class="text-muted">© 2015 Sicun Studio · Powered by Bootstrap, Cloud Sight, Flask</p>
	</div>
</footer>
{% endblock %}