#the_all{
    width:800px;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

#left_div{
	float: left;
	width: 316px;
	height: 900px;
	font-family: sans-serif;
	padding-right:100px;
	height: 500px;
}

#right_div{
	padding-left: 40px;
}

span{
	float:left;
	width: 35px;
	height: 35px;
	font-size: 32px;
	text-align: center;
}

em{
	color: #F30F06;
}

#card{
	width: 342px;
	height: 100px;
	background-color: white;
}

#url_text{
	font-family:Microsoft Yahei;
	font-size: 30px;
}

#url{
	border-radius: 5px;
	height: 30px;
	border-color: rgb(21,143,228);
	width: 333px;
	position: relative;
	top: -5px;
}

#url:hover{
	transition:border linear .2s,box-shadow linear .5s;
    -moz-transition:border linear .2s,-moz-box-shadow linear .5s;
    -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
    outline:none;border-color:rgba(21,143,228,0.5);
    box-shadow:0 0 15px rgba(0,0,0,0.7);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.5);
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.7);
}

#submit{
	background-color: rgb(21,143,228);
	margin: 10px 0 0 10px;
	width: 110px;
	height: 34px;
	color: white;
	padding:0px;
	border:0px;
	position: relative;
	top: -27px;
	left: -10px;
	font-size: 20px;
	clear: both;
	border-radius: 5px;
  margin-top: 20px;
}

#sub_button:hover{
	transition:border linear .2s,box-shadow linear .5s;
    -moz-transition:border linear .2s,-moz-box-shadow linear .5s;
    -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
    outline:none;border-color:rgba(21,143,228,0.5);
    box-shadow:0 0 15px rgba(0,0,0,0.7);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.5);
    -webkit-bo#input_text:hover{
	transition:border linear .2s,box-shadow linear .5s;
    -moz-transition:border linear .2s,-moz-box-shadow linear .5s;
    -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
    outline:none;border-color:rgba(21,143,228,0.5);
    box-shadow:0 0 15px rgba(0,0,0,0.7);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.5);
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.7);
    }x-shadow:0 0 15px rgba(0,0,0,0.7);
}

#result_text{
  font-size: 20px;
	position: relative;
	top: -12px;
	margin: 0;
	padding-left: 10px;
    border: 0;
    float: left;
}

#result_all{
  background-color: #cccccc;
  border-radius: 4px;
  position: relative;
  float: left;
  width: 333px;
  padding-top: 19px;
}

#result{
    float: left;
    position: relative;
    top:-12px;
    padding-left: 10px;
}

#thumbnail{
	width: auto;
	height: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 180px;
	border: solid rgb(21,143,228) 1px;
	border-radius: 10px;
  text-align: center;
  vertical-align: center;
}

#img_thumbnail{
  max-width: 700px;
  max-height: 600px;
}

.control-label{
  margin-bottom: 16px;
}
